#mjs-widget_13 .mjs-slider-controls {
	top:0px;
	bottom:200px;
	left:20px;
	right:20px;
}
#mjs-widget_13 .mjs-slider-image-wrapper {
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}
#mjs-widget_13 .mjs-slider-image-wrapper .mjs-slider-image{
	text-align: center;
	vertical-align:middle;
}
						-->
						</style>
					</div>
				<div id="mjs-widget_62" class="mjs-widget  mjs-widget-contactFormModule" style="width: 232px; height: 65px; top: 1289px; left: 22px; z-index: 20043;">
            <div class="mjs-widget-content" style="width:232px;height:65px;">
                <style>
<!--
#mjs-widget_62_form .icon,
#mjs-widget_62_form .mjs-fakefile span,
#mjs-widget_62_form .mjs-fakefile div {
	color: #5E5E5E;
}

#mjs-widget_62_form .mjs-input,
#mjs-widget_62_form .mjs-item-input label,
#mjs-widget_62_form .chzn-container-single .chzn-single,
#mjs-widget_62_form .chzn-container .chzn-drop,
#mjs-widget_62_form .placeholder{
	font-weight:normal;font-style:normal;text-decoration:none;text-align:left;font-family:'Tahoma';font-size:12px;color:#6d6d6d;letter-spacing:0px;
	margin-top:0;
}

#mjs-widget_62_form ::-webkit-input-placeholder { font-weight:normal;font-style:normal;text-decoration:none;text-align:left;font-family:'Tahoma';font-size:12px;color:#6d6d6d;letter-spacing:0px; }
#mjs-widget_62_form :-moz-placeholder { font-weight:normal;font-style:normal;text-decoration:none;text-align:left;font-family:'Tahoma';font-size:12px;color:#6d6d6d;letter-spacing:0px; }
 
#mjs-widget_62_form a.mjs-item-input-checkbox,
#mjs-widget_62_form a.mjs-item-input-radio
{
	color: #5E5E5E
}
#mjs-widget_62_form a.mjs-item-input-radio span.circle {
	background-color: #5E5E5E;
}

#mjs-widget_62_form .chzn-container .chzn-drop {
	border: 1px solid #393939;
	background: #101010;
	}

#mjs-widget_62_form .mjs-item-input
{
	zoom:1;
}

#mjs-widget_62_form .mjs-item-bg
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff101010', endColorstr='#ff101010');
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#101010), to(#101010));
	background-image: -webkit-linear-gradient(#101010, #101010);
	background-image: -moz-linear-gradient(#101010, #101010);
	background-image: -ms-linear-gradient(#101010, #101010);
	background-image: -o-linear-gradient(#101010, #101010);
	background-image: linear-gradient(#101010, #101010);
	zoom:1;
	opacity: 1;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	
}

#mjs-widget_62_form .mjs-item-border
{
	border: 1px  solid #393939;
	zoom:1;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
}

#mjs-widget_62_form .mjs-item-input {
	
}

#mjs-widget_62_form .mjs-button {
	border: 0px solid #FFFFFF;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	
	
}

#mjs-widget_62_form .mjs-button-submit .mjs-button-text-content {
	margin-top:-0.5px;line-height:1.1;text-align:center;font-family:'Open Sans';font-size:12px;color:#ffffff;letter-spacing:0px;font-weight:bold;text-decoration:underline;
}

#mjs-widget_62_form .mjs-button-reset .mjs-button-text-content {
	margin-top:-0.5px;line-height:1.1;text-align:center;font-family:'Tahoma';font-size:11px;color:#ffffff;letter-spacing:0px;font-weight:bold;
}

#mjs-widget_62_form .mjs-button .mjs-button-bg{
	zoom:1;
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#6D6D6D), to(#3B3B3B));
	background-image: -webkit-linear-gradient(#6D6D6D, #3B3B3B);
	background-image: -moz-linear-gradient(#6D6D6D, #3B3B3B);
	background-image: -ms-linear-gradient(#6D6D6D, #3B3B3B);
	background-image: -o-linear-gradient(#6D6D6D, #3B3B3B);
	background-image: linear-gradient(#6D6D6D, #3B3B3B);
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006D6D6D', endColorstr='#003B3B3B');
}

#mjs-widget_62_form .mjs-button:hover .mjs-button-bg{
	zoom:1;
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#8A8A8A), to(#4F4E4E));
	background-image: -webkit-linear-gradient(#8A8A8A, #4F4E4E);
	background-image: -moz-linear-gradient(#8A8A8A, #4F4E4E);
	background-image: -ms-linear-gradient(#8A8A8A, #4F4E4E);
	background-image: -o-linear-gradient(#8A8A8A, #4F4E4E);
	background-image: linear-gradient(#8A8A8A, #4F4E4E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008A8A8A', endColorstr='#004F4E4E');
}
