		body,html {
			/*min-height:1570px;*/
			height:100%;
		}
		#mjs-site-preloader, body,html {
			background:url(/46229/images/preloader.gif) 50% 50% no-repeat rgb(11,11,11);
background:url(/46229/images/preloader.gif) 50% 50% no-repeat rgba(11,11,11,1);
		}
		
		#mjs-preloader {
			background: url('/46229/images/preloader.gif') 50% 50% no-repeat ;
		}

#mjs-background-prev, #mjs-background-next {
			
padding: 0px 10px 0px 10px;
		}
		#mjs-background-prev:hover, #mjs-background-next:hover {
			background: transparent;
background-color: rgba(0,0,0,0.2) ;
padding: 0px 10px 0px 10px;
		}
		#mjs-background-next {
			background-image: url(/46229/images/next_arrow_big.png);background-position: 50% 50%;background-repeat: no-repeat;min-width: 79px;		}
		#mjs-background-next:hover {
			background-image: url(/46229/images/next_arrow_big.png);background-position: 50% 50%;background-repeat: no-repeat;min-width: 79px;		}
		#mjs-background-prev {
			background-image: url(/46229/images/prev_arrow_big.png);background-position: 50% 50%;background-repeat: no-repeat;min-width: 79px;		}
		#mjs-background-prev:hover {
			background-image: url(/46229/images/prev_arrow_big.png);background-position: 50% 50%;background-repeat: no-repeat;min-width: 79px;		}
		#colorbox.system {
		    			}
		#colorbox.system #cboxPrevious, #colorbox.system #cboxNext {
			
padding: 0px 10px 0px 10px;
			}
		#colorbox.system #cboxPrevious:hover, #colorbox.system #cboxNext:hover {
			
padding: 0px 10px 0px 10px;
			}
		#colorbox.system #cboxNext {
			background-image: url(/46229/images/next_arrow_big.png);background-position: 50% 50%;background-repeat: no-repeat;min-width: 79px;			}
		#colorbox.system #cboxNext:hover {
			background-image: url(/46229/images/next_arrow_big.png);background-position: 50% 50%;background-repeat: no-repeat;min-width: 79px;			}
		#colorbox.system #cboxPrevious {
			background-image: url(/46229/images/prev_arrow_big.png);background-position: 50% 50%;background-repeat: no-repeat;min-width: 79px;			}
		#colorbox.system #cboxPrevious:hover {
			background-image: url(/46229/images/prev_arrow_big.png);background-position: 50% 50%;background-repeat: no-repeat;min-width: 79px;			}
		#cboxOverlay {
			background-color: #1B1B1B;
			}
		#mjs-browser {
			min-width: 810px;
			background: transparent;
background-color: rgb(11,11,11);
background-image:url('/46229/images/content-bg.gif');
background-repeat:repeat;
background-position:center center;
		}
		#mjs-main {
			width: 810px;
			min-height:1570px;
		}

#mjs-widget_77 .mjs-widget-content{
	height:22px;
	width:22px;
	background:url('/46229/images/soc-link4_1.png') no-repeat center center;
;
}
#mjs-widget_77 .mjs-widget-content:hover, #mjs-widget_77 .mjs-button-active{
	background:url('/46229/images/soc-link4_2.png') no-repeat center center;
;
}
#mjs-widget_77 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:center;font-family:'Arial';font-size:12px;color:#1b1b1b;letter-spacing:0px;;
}
#mjs-widget_77 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_77 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:center;font-family:'Arial';font-size:12px;color:#1b1b1b;letter-spacing:0px;;
}

#mjs-widget_76 .mjs-widget-content{
	height:22px;
	width:22px;
	background:url('/46229/images/soc-link3_1.png') no-repeat center center;
;
}
#mjs-widget_76 .mjs-widget-content:hover, #mjs-widget_76 .mjs-button-active{
	background:url('/46229/images/soc-link3_2.png') no-repeat center center;
;
}
#mjs-widget_76 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:center;font-family:'Arial';font-size:12px;color:#1b1b1b;letter-spacing:0px;;
}
#mjs-widget_76 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_76 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:center;font-family:'Arial';font-size:12px;color:#1b1b1b;letter-spacing:0px;;
}

#mjs-widget_75 .mjs-widget-content{
	height:22px;
	width:22px;
	background:url('/46229/images/soc-link2_1.png') no-repeat center center;
;
}
#mjs-widget_75 .mjs-widget-content:hover, #mjs-widget_75 .mjs-button-active{
	background:url('/46229/images/soc-link2_2.png') no-repeat center center;
;
}
#mjs-widget_75 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:center;font-family:'Arial';font-size:12px;color:#1b1b1b;letter-spacing:0px;;
}
#mjs-widget_75 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_75 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:center;font-family:'Arial';font-size:12px;color:#1b1b1b;letter-spacing:0px;;
}

#mjs-widget_74 .mjs-widget-content{
	height:22px;
	width:22px;
	background:url('/46229/images/soc-link1_1.png') no-repeat center center;
;
}
#mjs-widget_74 .mjs-widget-content:hover, #mjs-widget_74 .mjs-button-active{
	background:url('/46229/images/soc-link1_2.png') no-repeat center center;
;
}
#mjs-widget_74 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:center;font-family:'Arial';font-size:12px;color:#1b1b1b;letter-spacing:0px;;
}
#mjs-widget_74 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_74 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:center;font-family:'Arial';font-size:12px;color:#1b1b1b;letter-spacing:0px;;
}

#mjs-widget_11 ul.mjs-menu-level-0 > li > .mjs-menu-stylevo > a.mjs-menu-styles {
	height: 50px;
	display:table;
}
#mjs-widget_11 ul.mjs-menu-level-1 > li > .mjs-menu-stylevo > a.mjs-menu-styles, 
#mjs-widget_11 ul.mjs-menu-level-2 > li > .mjs-menu-stylevo > a.mjs-menu-styles {
	height: 25px;
	display:table;
}
#mjs-widget_11 ul.mjs-menu-level-0 > li.mjs-sub > .mjs-menu-stylevo > a.mjs-menu-styles .mjs-menu-text{
	font-weight:normal;font-style:normal;text-decoration:underline;margin-top:-1px;line-height:1.2;text-align:center;font-family:'Changa One';font-size:14px;color:#ffffff;letter-spacing:0px;;
}
#mjs-widget_11 ul.mjs-menu-level-0 > li.mjs-sub > .mjs-menu-stylevo:hover > a.mjs-menu-styles .mjs-menu-text,
#mjs-widget_11 ul.mjs-menu-level-0 > li.mjs-active > .mjs-menu-stylevo > a.mjs-menu-styles .mjs-menu-text {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:center;font-family:'Changa One';font-size:14px;color:#a9b9c2;letter-spacing:0px;;
}
#mjs-widget_11 ul.mjs-menu-level-0 li .mjs-menu-align{
	vertical-align: middle;
}
#mjs-widget_11 ul.mjs-menu-level-0 li.mjs-menu-delimiter {
	width: 15px;
	height: 50px;
	vertical-align: middle;
	
}
#mjs-widget_11 ul.mjs-menu-level-1 li.mjs-menu-delimiter {
	display:none;
}
#mjs-widget_11 ul.mjs-menu-level-0 > li.mjs-sub > .mjs-menu-stylevo{
	

	display:inline-block;
	text-align:center;
}
#mjs-widget_11 ul.mjs-menu-level-0 > li.mjs-sub > .mjs-menu-stylevo:hover,
#mjs-widget_11 ul.mjs-menu-level-0 > li.mjs-sub.mjs-active > .mjs-menu-stylevo
{
	

}
#mjs-widget_11 ul.mjs-menu-level-1 li.mjs-sub> .mjs-menu-stylevo , #mjs-widget_11 ul.mjs-menu-level-2 li.mjs-sub> .mjs-menu-stylevo{
	background:url('/46229/images/marker2.png') no-repeat center left;

	display:inline-block;
	text-align:center;
}
#mjs-widget_11 ul.mjs-menu-level-1 li.mjs-sub > .mjs-menu-stylevo:hover,
#mjs-widget_11 ul.mjs-menu-level-1 li.mjs-sub.mjs-active > .mjs-menu-stylevo
{
	

}
#mjs-widget_11 ul.mjs-menu-level-0 li .mjs-menu-text{
   display: table-cell;
   vertical-align: middle;
}
#mjs-widget_11 ul.mjs-menu-level-0 ul{
	background: transparent;
background-color: rgba(0,0,0,0.7) ;
padding: 10px 0px 10px 20px;

}
#mjs-widget_11 ul.mjs-menu-level-0 li .mjs-menu-icon{
	display: table-cell;
	float: ;
	vertical-align: middle;
}
#mjs-widget_11 ul.mjs-menu-level-0 li .mjs-menu-icon img{
	vertical-align: middle;
}
#mjs-widget_11 ul.mjs-menu-level-1 li > .mjs-menu-stylevo > a.mjs-menu-styles .mjs-menu-align .mjs-menu-text {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:18px;text-align:left;font-family:'Arial';font-size:12px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_11 ul.mjs-menu-level-1 li > .mjs-menu-stylevo:hover > a.mjs-menu-styles .mjs-menu-align .mjs-menu-text,
#mjs-widget_11 ul.mjs-menu-level-1 li.mjs-active > .mjs-menu-stylevo > a.mjs-menu-styles .mjs-menu-align .mjs-menu-text {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:18px;text-align:left;font-family:'Arial';font-size:12px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_20 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_20 .mjs-widget-content:hover, #mjs-widget_20 .mjs-button-active{
	
;
}
#mjs-widget_20 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_20 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_20 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_22 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_22 .mjs-widget-content:hover, #mjs-widget_22 .mjs-button-active{
	
;
}
#mjs-widget_22 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_22 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_22 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_23 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_23 .mjs-widget-content:hover, #mjs-widget_23 .mjs-button-active{
	
;
}
#mjs-widget_23 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_23 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_23 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_24 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_24 .mjs-widget-content:hover, #mjs-widget_24 .mjs-button-active{
	
;
}
#mjs-widget_24 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_24 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_24 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_25 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_25 .mjs-widget-content:hover, #mjs-widget_25 .mjs-button-active{
	
;
}
#mjs-widget_25 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_25 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_25 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_26 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_26 .mjs-widget-content:hover, #mjs-widget_26 .mjs-button-active{
	
;
}
#mjs-widget_26 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_26 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_26 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_27 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_27 .mjs-widget-content:hover, #mjs-widget_27 .mjs-button-active{
	
;
}
#mjs-widget_27 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_27 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_27 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}
#mjs-widget_28 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_28 .mjs-widget-content:hover, #mjs-widget_28 .mjs-button-active{
	
;
}
#mjs-widget_28 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_28 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_28 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_29 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_29 .mjs-widget-content:hover, #mjs-widget_29 .mjs-button-active{
	
;
}
#mjs-widget_29 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_29 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_29 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}
#mjs-widget_31 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_31 .mjs-widget-content:hover, #mjs-widget_31 .mjs-button-active{
	
;
}
#mjs-widget_31 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_31 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_31 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_30 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_30 .mjs-widget-content:hover, #mjs-widget_30 .mjs-button-active{
	
;
}
#mjs-widget_30 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_30 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_30 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_32 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_32 .mjs-widget-content:hover, #mjs-widget_32 .mjs-button-active{
	
;
}
#mjs-widget_32 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_32 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_32 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_33 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_33 .mjs-widget-content:hover, #mjs-widget_33 .mjs-button-active{
	
;
}
#mjs-widget_33 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_33 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_33 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_35 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_35 .mjs-widget-content:hover, #mjs-widget_35 .mjs-button-active{
	
;
}
#mjs-widget_35 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_35 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_35 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_34 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_34 .mjs-widget-content:hover, #mjs-widget_34 .mjs-button-active{
	
;
}
#mjs-widget_34 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_34 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_34 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_36 .mjs-widget-content{
	height:24px;
	width:123px;
	
;
}
#mjs-widget_36 .mjs-widget-content:hover, #mjs-widget_36 .mjs-button-active{
	
;
}
#mjs-widget_36 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_36 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_36 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;padding-left:9px;text-align:left;font-family:'Arial';font-size:13px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_37 .mjs-widget-content{
	height:24px;
	width:77px;
	
;
}
#mjs-widget_37 .mjs-widget-content:hover, #mjs-widget_37 .mjs-button-active{
	
;
}
#mjs-widget_37 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:underline;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:10px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_37 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_37 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:10px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_38 .mjs-widget-content{
	height:24px;
	width:77px;
	
;
}
#mjs-widget_38 .mjs-widget-content:hover, #mjs-widget_38 .mjs-button-active{
	
;
}
#mjs-widget_38 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:underline;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:10px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_38 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_38 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:10px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_39 .mjs-widget-content{
	height:24px;
	width:77px;
	
;
}
#mjs-widget_39 .mjs-widget-content:hover, #mjs-widget_39 .mjs-button-active{
	
;
}
#mjs-widget_39 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:underline;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:10px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_39 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_39 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:10px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_55 .mjs-widget-content{
	height:24px;
	width:83px;
	
;
}
#mjs-widget_55 .mjs-widget-content:hover, #mjs-widget_55 .mjs-button-active{
	
;
}
#mjs-widget_55 .mjs-widget-content .mjs-button-text div{
	font-weight:bold;font-style:normal;text-decoration:underline;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:12px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_55 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_55 .mjs-button-active .mjs-button-text div {
	font-weight:bold;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:12px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_68 .mjs-widget-content{
	height:24px;
	width:77px;
	
;
}
#mjs-widget_68 .mjs-widget-content:hover, #mjs-widget_68 .mjs-button-active{
	
;
}
#mjs-widget_68 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:underline;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:10px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_68 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_68 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:10px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_69 .mjs-widget-content{
	height:24px;
	width:77px;
	
;
}
#mjs-widget_69 .mjs-widget-content:hover, #mjs-widget_69 .mjs-button-active{
	
;
}
#mjs-widget_69 .mjs-widget-content .mjs-button-text div{
	font-weight:normal;font-style:normal;text-decoration:underline;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:10px;color:#ddcb02;letter-spacing:0px;;
}
#mjs-widget_69 .mjs-widget-content:hover .mjs-button-text div, #mjs-widget_69 .mjs-button-active .mjs-button-text div {
	font-weight:normal;font-style:normal;text-decoration:none;margin-top:-1px;line-height:1.2;text-align:left;font-family:'Arial';font-size:10px;color:#ffffff;letter-spacing:0px;;
}

#mjs-widget_13 mjs-slider-buttons {
	top:{%descriptionBlockMargin.top%}px;
	bottom:{%descriptionBlockMargin.bottom%}px;
	left:{%descriptionBlockMargin.left%}px;
	right:{%descriptionBlockMargin.right%}px;
}
#mjs-widget_13 .mjs-slider-buttons-pos {
	text-align: center;
	vertical-align:bottom;
}
#mjs-widget_13 .mjs-slider-prev {
	width: 46px;
	height: 102px;
	background: transparent url(/46229/images/prev1.png) 0 0 no-repeat;
}
#mjs-widget_13 .mjs-slider-prev:hover {
	width: 46px;
	height: 102px;
	background: transparent url(/46229/images/prev2.png) 0 0 no-repeat;
}
#mjs-widget_13 .mjs-slider-next {
	width: 46px;
	height: 102px;
	background: transparent url(/46229/images/next1.png) 0 0 no-repeat;
}
#mjs-widget_13 .mjs-slider-next:hover {
	width: 46px;
	height: 102px;
	background: transparent url(/46229/images/next2.png) 0 0 no-repeat;
}

#mjs-widget_13 .mjs-description-wrapper {							
	top:545px;
	bottom:1px;
	left:0px;
	right:0px;
}
#mjs-widget_13 .mjs-description-pos {
	text-align: center;
	vertical-align:bottom;
}
#mjs-widget_13 .mjs-description-block {
	width:100%;
	background: transparent;
background-color: rgba(0,0,0,0.7) ;
padding: 6px 0px 0px 20px;

	height: 100%;
}
#mjs-widget_13 .mjs-description-block a {
	background: transparent;
background:  -moz-linear-gradient( -90deg, rgba(243,243,243,1), rgba(179,179,179,1) );
background:  -webkit-gradient(linear, left top, left bottom, from(rgb(243,243,243)), to(rgb(179,179,179)));
background:  -webkit-linear-gradient( -90deg, rgba(243,243,243,1), rgba(179,179,179,1) );
background:  -o-linear-gradient( -90deg, rgba(243,243,243,1), rgba(179,179,179,1) );
background:  linear-gradient( to bottom, rgba(243,243,243,1), rgba(179,179,179,1) );
padding: 7px 10px 7px 10px;
-webkit-border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-ms-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
border-top: 1px solid rgb(179,179,179);
border-right: 1px solid rgb(179,179,179);
border-bottom: 1px solid rgb(179,179,179);
border-left: 1px solid rgb(179,179,179);

}
